# ==========================
# GLOBAL (All Projects)
# ==========================
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
*.log

# ==========================
# NODE.JS (Frontend & Worker)
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



# ==========================
# REACT / VITE (Frontend)
# ==========================
/frontend/dist/
/frontend/build/
/frontend/.eslintcache

# ==========================
# IDE / EDITORS
# ==========================
.vscode/
.idea/
*.swp